@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:700&display=swap');

body {
    margin: 0;
    padding: 0;
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Cairo', sans-serif;*/
}

                /*####### TELA DE LOGIN 1.0 ####### */
.blocklogin {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #332106;
    // background-image: url("../image/predio.jpg") !important;
}
.login {
    text-align: center;
    width: 400px;
    box-sizing: border-box;
    padding: 60px;
    background: white;
    border-radius: 15px;
}
.login h2 {
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
}
.login .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.login .input-group input {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
    border-radius: 10px;
}
.login .input-group span {
    position: absolute;
    top: 9px;
    left: 20px;
    padding: 0;
    transition: 0.5s;
    pointer-events: none;
    background: white;
    text-transform: uppercase;
    border-radius: 5px;
}
.login .input-group input:focus ~ span,
.login .input-group input:valid ~ span {
    top: -15px;
    left: 15px;
    font-size: 10px;
    padding: 2px 4px;
    border: 1px solid silver;
    background: white;

}
.login .input-group input[type="submit"]{
    background:#80530F;
    border: none;
    box-shadow:  none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
}
.login .input-group input[type="submit"]:hover {
    background: #b28849;
    transition: 0.5s;
}
.login a {
    color: #3d2d1d;
    text-decoration: none;
    display: block;
    text-align: center;
}
.login a span {
    font-weight: 600;
}
.logoone {  
    margin-top: -15px;
    margin-bottom: 15px;
}

hr {
    width: 70%;
    border: 2px solid #b28849;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

                            /* ####### NAVBAR #######*/

header {
    font-family: 'Poppins', sans-serif;
    font: 600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    background-color: #402908;
    max-height: 30px;
    text-transform: uppercase;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 50px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 8px 20px;
}

.nav_links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color:#ffffff;
}

.nav_links li a:hover {
    color: #402908;
}

.iconnavbar {
margin-left: 50px;
font-size: 30px;
color:#ffffff;
}

                        /* ####### SCROLL ####### */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;}

::-webkit-scrollbar-thumb {
    height: 59px;
    width: 15px;
    background-color: #e67e22;
    cursor: pointer !important;
}
                        /* ####### PAGE-USUARIO ####### */

.cadusers h1 {
    font:  600 40px Poppins;
}

.cadeusersmaster {
    background-color: brown;
    max-width: 100%;
    height: 500px;
}

.cadusers {

    margin: 15px;
}