@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Cairo', sans-serif;*/
}

h2  {
   font-family: 'Cairo';    
   font-size: 1.5em !important; 
}

/*- TELA DE LOGIN 1.0 ---------------------------------------------------------------------*/

.blocklogin {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #332106;
}
.login {
    text-align: center;
    width: 400px;
    box-sizing: border-box;
    padding: 60px;
    background: white;
    border-radius: 15px;
}
.login h2 {
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
}
.login .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.login .input-group input {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
    border-radius: 10px;
}
.login .input-group span {
    position: absolute;
    top: 9px;
    left: 20px;
    padding: 0;
    transition: 0.5s;
    pointer-events: none;
    background: white;
    text-transform: uppercase;
    border-radius: 5px;
}
.login .input-group input:focus ~ span,
.login .input-group input:valid ~ span {
    top: -15px;
    left: 15px;
    font-size: 10px;
    padding: 2px 4px;
    border: 1px solid silver;
    background: white;

}
.login .input-group input[type="submit"]{
    background:#80530F;
    border: none;
    box-shadow:  none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
}
.login .input-group input[type="submit"]:hover {
    background: #b28849;
    transition: 0.5s;
}
.login a {
    color: #3d2d1d;
    text-decoration: none;
    display: block;
    text-align: center;
}
.login a span {
    font-weight: 600;
}
.logoone {  
    margin-top: -15px;
    margin-bottom: 15px;
}

hr {
    width: 70%;
    border: 2px solid #b28849;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*- NAVBAR  ---------------------------------------------------------------------*/

header {
    font-family: 'Poppins', sans-serif;
    font: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    background-color: #402908;
    max-height: 30px;
    text-transform: uppercase;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 50px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 8px 20px;
}

.nav_links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color:#ffffff;
}

.nav_links li a:hover {
    color: #b28849;
}

.iconnavbar {
margin-left: 50px;
font-size: 30px;
color:#ffffff;
}

ul {
    list-style: none;
}

.useroption ul ul {
    position: absolute;
    visibility: hidden;
    margin-top: 6px;
    border: solid 1px black;
}
.useroption ul li:hover ul {
    visibility: visible; 
}
.uluseroption, .useroption ul ul a {
    color: white;
    background-color: #b28849;
    text-transform: capitalize !important;
}
.useroption ul ul li a {
    text-align: center;
    align-items: center;
}
/*- FOOTER  ---------------------------------------------------------------------*/
footer {
    position: absolute;
    bottom: 0;
    background-color: #402908;
    height: 30px;
    width: 100%;
}
/*- SCROLL  ---------------------------------------------------------------------*/

::-webkit-scrollbar {
    height: 8px;
    width: 8px;}

::-webkit-scrollbar-thumb {
    height: 59px;
    width: 10px;
    background-color: #e67e22;
    cursor: pointer !important;
}

/*- PAGE-USUARIO  ---------------------------------------------------------------------*/
 
.container {
    max-width: 100%;
    width: 100%;
}
.containerpadrao {
    margin: 20px 60px;
}
.flex_main {
    display: flex;
    justify-content: space-around;
}
.flex_sub {
    flex-direction: row;
}

form > .input-group{
    margin: 20px 0;
    position: relative;
}

.input-group > .form-control {
    padding: 10px 0;
    width: 250px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.16);
    outline: none;
    transition: .2s;
}

.input-group > label {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 10px;
    left: 0;
    text-transform: capitalize;
    font-size: 12px;
    transition: .2s;
}

.form-control:focus {
    border-color: maroon;
}

.form-control:focus ~ label {
    color:RED;
    top: -12px;
}

.form-control ~ label {
    top: -10px;
}

.spaninput {
    font-family: 'Roboto';
    font-size: 1em !important;
}

button[type=submit]{
    padding: 10px 15px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background: maroon;
    color: white;
    border-radius: 4px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto';
  }

 /* .item_p_1 {
      grid-column-start: 1;
      grid-column-end: 4;
  } 

*/
/* Alerta Erro----------------------------------------------- */

/* Geral */

.alerta {
    border-radius: 0px;
    margin: auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: page;

}

.error {
    border-color: #e8273b;
    color: #FFF;
    background-color: #ed5565;
}

.sucesso {
    border-color: #53881b;
    color: #FFF;
    background-color: #31520f;
}

.atencao {
    border-color: #f4a911;
    color: #FFF;
    background-color: #f6bb42;
}

.info {
    border-color: #2f80e7;
    color: #FFF;
    background-color: #5d9cec;
}